/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as ProofStateAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Observations {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-ProofState-Sdk-Name header */
    xProofStateSdkName?: core.Supplier<string | undefined>;
    /** Override the X-ProofState-Sdk-Version header */
    xProofStateSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-ProofState-Public-Key header */
    xProofStatePublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-ProofState-Sdk-Name header */
    xProofStateSdkName?: string | undefined;
    /** Override the X-ProofState-Sdk-Version header */
    xProofStateSdkVersion?: string | undefined;
    /** Override the X-ProofState-Public-Key header */
    xProofStatePublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class Observations {
  protected readonly _options: Observations.Options;

  constructor(_options: Observations.Options) {
    this._options = _options;
  }

  /**
   * Get a list of observations with cursor-based pagination and flexible field selection.
   *
   * ## Cursor-based Pagination
   * This endpoint uses cursor-based pagination for efficient traversal of large datasets.
   * The cursor is returned in the response metadata and should be passed in subsequent requests
   * to retrieve the next page of results.
   *
   * ## Field Selection
   * Use the `fields` parameter to control which observation fields are returned:
   * - `core` - Always included: id, traceId, startTime, endTime, projectId, parentObservationId, type
   * - `basic` - name, level, statusMessage, version, environment, bookmarked, public, userId, sessionId, isRootObservation
   * - `time` - completionStartTime, createdAt, updatedAt
   * - `io` - input, output
   * - `metadata` - metadata (truncated to 200 chars by default, use `expandMetadata` to get full values)
   * - `model` - model, internalModelId, modelParameters
   * - `usage` - usageDetails, costDetails, totalCost, usagePricingTierName
   * - `prompt` - promptId, promptName, promptVersion
   * - `metrics` - latency, timeToFirstToken
   * - `trace_context` - tags, release, traceName
   *
   * If not specified, `core` and `basic` field groups are returned.
   *
   * ## Filters
   * Multiple filtering options are available via query parameters or the structured `filter` parameter.
   * When using the `filter` parameter, it takes precedence over individual query parameter filters.
   *
   * @param {ProofStateAPI.GetObservationsV2Request} request
   * @param {Observations.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link ProofStateAPI.Error}
   * @throws {@link ProofStateAPI.UnauthorizedError}
   * @throws {@link ProofStateAPI.AccessDeniedError}
   * @throws {@link ProofStateAPI.MethodNotAllowedError}
   * @throws {@link ProofStateAPI.NotFoundError}
   *
   * @example
   *     await client.observations.getMany()
   */
  public getMany(
    request: ProofStateAPI.GetObservationsV2Request = {},
    requestOptions?: Observations.RequestOptions,
  ): core.HttpResponsePromise<ProofStateAPI.ObservationsV2Response> {
    return core.HttpResponsePromise.fromPromise(
      this.__getMany(request, requestOptions),
    );
  }

  private async __getMany(
    request: ProofStateAPI.GetObservationsV2Request = {},
    requestOptions?: Observations.RequestOptions,
  ): Promise<core.WithRawResponse<ProofStateAPI.ObservationsV2Response>> {
    const {
      fields,
      expandMetadata,
      limit,
      cursor,
      parseIoAsJson,
      name,
      userId,
      sessionId,
      type: type_,
      traceId,
      level,
      parentObservationId,
      isRootObservation,
      environment,
      fromStartTime,
      toStartTime,
      version,
      filter,
    } = request;
    const _queryParams: Record<
      string,
      string | string[] | object | object[] | null
    > = {};
    if (fields != null) {
      _queryParams["fields"] = fields;
    }

    if (expandMetadata != null) {
      _queryParams["expandMetadata"] = expandMetadata;
    }

    if (limit != null) {
      _queryParams["limit"] = limit.toString();
    }

    if (cursor != null) {
      _queryParams["cursor"] = cursor;
    }

    if (parseIoAsJson != null) {
      _queryParams["parseIoAsJson"] = parseIoAsJson.toString();
    }

    if (name != null) {
      _queryParams["name"] = name;
    }

    if (userId != null) {
      _queryParams["userId"] = userId;
    }

    if (sessionId != null) {
      _queryParams["sessionId"] = sessionId;
    }

    if (type_ != null) {
      _queryParams["type"] = type_;
    }

    if (traceId != null) {
      _queryParams["traceId"] = traceId;
    }

    if (level != null) {
      _queryParams["level"] = level;
    }

    if (parentObservationId != null) {
      _queryParams["parentObservationId"] = parentObservationId;
    }

    if (isRootObservation != null) {
      _queryParams["isRootObservation"] = isRootObservation.toString();
    }

    if (environment != null) {
      if (Array.isArray(environment)) {
        _queryParams["environment"] = environment.map((item) => item);
      } else {
        _queryParams["environment"] = environment;
      }
    }

    if (fromStartTime != null) {
      _queryParams["fromStartTime"] = fromStartTime;
    }

    if (toStartTime != null) {
      _queryParams["toStartTime"] = toStartTime;
    }

    if (version != null) {
      _queryParams["version"] = version;
    }

    if (filter != null) {
      _queryParams["filter"] = filter;
    }

    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-ProofState-Sdk-Name":
          requestOptions?.xProofStateSdkName ??
          this._options?.xProofStateSdkName,
        "X-ProofState-Sdk-Version":
          requestOptions?.xProofStateSdkVersion ??
          this._options?.xProofStateSdkVersion,
        "X-ProofState-Public-Key":
          requestOptions?.xProofStatePublicKey ??
          this._options?.xProofStatePublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/v2/observations",
      ),
      method: "GET",
      headers: _headers,
      queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as ProofStateAPI.ObservationsV2Response,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new ProofStateAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new ProofStateAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new ProofStateAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new ProofStateAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new ProofStateAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.ProofStateAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.ProofStateAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.ProofStateAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/v2/observations.",
        );
      case "unknown":
        throw new errors.ProofStateAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
